@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Inconsolata&display=swap');

/* color palette: https://coolors.co/palette/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */

body {
  background-color: #DDBEA9;
  font-family: 'Inconsolata', 'Courier New', Courier, monospace;
  color:#6B705C;
}

h1 {
  text-align: center;
  font-family: 'DotGothic16', 'Courier New', Courier, monospace;
}

.control-panel {
  background-color: #6B705C;
  box-sizing: border-box;
  color: #FFE8D6;
  width: 90vmin;
  margin: auto;
  border: 5vmin solid #6B705C;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

input[type="range"] {
  accent-color: #CB997E;
}

input[type="radio"] {
  accent-color: #CB997E;
}

.grid-container {
  background-color: #B7B7A4;
  border: 5vmin solid #6B705C;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left:auto;
  margin-right: auto;
  margin-top: -5vmin;
  width: 90vmin;
  height:90vmin;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.cell {
  border: 1px solid #6B705C;
  box-sizing: border-box;
}

fieldset {
  display: inline;
  border-style: hidden;
}