.control-panel {
  width: 90vmin;
  margin: auto;
  display: flex;
  justify-content:flex-start;
}

.grid-container {
  border: 1px solid black;
  margin:auto;
  width: 90vmin;
  height:90vmin;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.cell {
  border: 1px solid black;
  box-sizing: border-box;
}

fieldset {
  display: inline;
  border-style: hidden;
}